body {
    text-align: center;
}
.studio{
    background: url(../images/assets.jpg);
    height: 600px;
    text-align: center;
    background-size: cover;
    color: white;
    padding: 270px;
    
    }

.ken{
    image-resolution: 20px;
    border-image-width: 30px;
    padding-right: 20px;
}

.personal{
    background: url(../images/c_image.jpg);
    
    height: 600px;
    text-align: center;
    padding: 140px;



}
.about{
    background: url(../images/computer.jpg);
    background-size: cover;
    height: 200px;
    text-align: center;
    color: white;


}
.approach{
    text-align: center;



}
.margi{
    margin-right: 200px;
}
.imgs{

    text-align: right;
}
.obtis{
    text-align: center;
}

.whendo{

    display: none;
}
.whydo{
    display: none;
}
.willdo{
    display: none;
}

.clickable3 {
    font-size: 10px;
}
.clickable2{
    font-size: 10px;
}
.clickable1{
    font-size: 10px;

}
.col-md-3 img{

    margin: 20px;
    width: 100%;
}
.create1{
    display: none;
    background-color: navy;
    position: absolute;
    opacity: .7;
    font-size: 32px;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
}
.create2{
    display: none;
    background-color:navy;
    position: absolute;
    opacity: .7;
    font-size: 32px;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;





}
.create3{
    display: none;
    background-color: navy;
    position: absolute;
    font-size: 20px;
    opacity: .6;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;






}
.create4{
    display: none;
    background-color:navy;
    position:absolute;
    font-size: 20px;
    opacity: .6;
    top: 30%;
    left: 20%;
    right: 30%;
    bottom: 40%;
    
}
.create5{
    display: none;
    background-color:navy;
    position:absolute;
    font-size: 20px;
    opacity: .6;
    top: 30%;
    left: 20%;
    right: 30%;
    bottom: 40%;




}
.create6{
    display: none;
    background-color:navy;
    position:absolute;
    font-size: 20px;
    opacity: .6;
    top: 30%;
    left: 20%;
    right: 30%;
    bottom: 40%;
}
.create7{
    display: none;
    background-color:navy;
    position:absolute;
    font-size: 20px;
    opacity: .6;
    top: 30%;
    left: 20%;
    right: 30%;
    bottom: 40%;
}
.create8{
    display: none;
    background-color:navy;
    position:absolute;
    font-size: 20px;
    opacity: .6;
    top: 30%;
    left: 20%;
    right: 30%;
    bottom: 40%;
}
 #mce-EMAIL{
    background-color: none;



}
#mce-MMERGE2{
    width:500px ;
    height: 200px;
    background-color: none;
}




}
@media only screen and (max-width:620px){

    body{
        width:fit-content;
        height:min-content;
        display: block;
    }
    .what-we-do{
        height: fit-content;
    }
