body {
    text-align: center;
}
.studio{
    background: url(../images/assets.jpg);
    height: 600px;
    text-align: center;
    background-size: cover;
    color: white;
    padding: 270px;
    
    }

.ken{
    image-resolution: 20px;
    border-image-width: 30px;
    padding-right: 20px;
}

.personal{
    background: url(../images/c_image.jpg);
    
    height: 600px;
    text-align: center;
    padding: 140px;



}
.about{
    background: url(../images/computer.jpg);
    background-size: cover;
    height: 200px;
    text-align: center;
    color: white;


}
.approach{
    text-align: center;



}
.margi{
    margin-right: 200px;
}
.imgs{

    align-content: center;
}
.obtis{
    text-align: center;
}

.whendo{

    display: none;
}
.whydo{
    display: none;
}
.willdo{
    display: none;
}

.clickable3 {
    font-size: 10px;
}
.clickable2{
    font-size: 10px;
}
.clickable1{
    font-size: 10px;

}
.col-md-3 img{
    margin: 20px;
    width: 100%;


}