body {
    text-align: center;
}
.studio{
    background: url(../images/assets.jpg);
    height: 600px;
    text-align: center;
    background-size: contain;
    color: white;
    padding: 285px;
    
    }

.ken{
    image-resolution: 20px;
    border-image-width: 30px;
    padding-right: 20px;
}

.personal{
    background: url(../images/c_image.jpg);
    
    
    height: 600px;
    text-align: center;
    padding: 140px;



}
.about{
    background: url(../images/computer.jpg);
    height: 200px;
    text-align: center;
    color: white;


}
.approach{
    text-align: center;



}
.margi{
    margin-right: 200px;
}
.imgs{

    align-content: center;
}
.obtis{
    text-align: center;
}
